* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* navbar */
.navbar {
    /* background-color: blue; */
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    border-top: 1px solid rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 10px;
    text-align: center;
    color: grey;
    height: 56px;
}

/* item styling */
.item1 {
    color: inherit;
    background-color: grey;
    border-bottom: 4px solid grey;
    border-top-right-radius: 3px;
}

.item2 {
    /* color: inherit; */
    border-bottom: 4px solid red;
}

.item3 {
    /* color: inherit; */
    border-bottom: 4px solid orange;
}

.item4 {
    /* color: inherit; */
    border-bottom: 4px solid yellow;
}

.item5 {
    /* color: inherit; */
    border-bottom: 4px solid rgb(29, 171, 29);
}

.item6 {
    /* color: inherit; */
    border-bottom: 4px solid rgb(45, 181, 255);
}

.item7 {
    /* color: inherit; */
    border-bottom: 4px solid blue;
    border-bottom-right-radius: 3px;
}

/* hover navbar */
.item1:hover {
    color: whitesmoke;

}

.item2:hover {
    color: whitesmoke;
    background-color: red;
}

.item3:hover {
    color: whitesmoke;
    background-color: orange;
}

.item4:hover {
    color: whitesmoke;
    background-color: yellow;
}

.item5:hover {
    color: whitesmoke;
    background-color: rgb(29, 171, 29);
}

.item6:hover {
    color: whitesmoke;
    background-color: rgb(45, 181, 255);
}

.item7:hover {
    color: whitesmoke;
    background-color: blue;
}

/* card 1st part */
.card-part1 {
    width: 90%;
    margin: 0 auto;
}

.card-main {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.card1 {
    margin-bottom: 0;
    margin-left: 33px;
    background-color: #a4a4a4;
    /* width: 66%; */
    margin-top: 0;
    padding: 5px;
}

.card1>p {
    background-color: #a4a4a4;
    width: 66%;
    margin-top: 0;
    padding: 5px;

}

.card-sub {
    margin-left: 10px;
    flex-direction: column;
    border-radius: 5px;
}

.card-sub img {
    height: 150px;
    margin-bottom: 0;
    margin-top: 5px;
}

.card2 {
    background-color: #313131;
    color: white;
    font-size: 100%;
    margin-left: 0px;
    /* align-self: flex-start; */
    float: right;
    /* height: 150px; */
}

.card3{
    background-color: #e6bc2f;
    color: white;
    /* width: 70%;
    height: 60px; */
}

.card4 {
    background-color: #ee6b2f;
    color: white;
    /* width: 70%;
    height: 60px; */
}

.card-main2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 33px;
    border-radius: 5px;
}

.card-main2 img {
    height: 222px;
    width: 95%;
}

.card-main2 p {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    width: 95%;
    height: 50px;
}

.card5 {
    background-color: #369143;
}

.card6 {
    background-color: #1b53ba;
}
.card {
    padding: 5px;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 10px 5px 5px gray;
}

/* slider */
.slider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
}

/* card part2 */
.card-main2-part {
    /* background-color: #369143; */
    width: 90%;
    margin: 0 auto;
}

.main-container2 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: inherit;
    margin: inherit;
}

.card-1 {
    background-color: #B38AEA;
    margin: 20px 10px 10px 20px;
}

.card-1>img,
.card-2>img {
    width: 320px;
    height: 200px;
    margin: 0;
}

.card-3>img,
.card-4>img {
    width: 340px;
    height: 200px;
    margin: 0;
}

.card-5>img,
.card-6>img {
    width: 335px;
    height: 200px;
    margin: 0;

}

.card-2 {
    background-color: #313131;
    margin: 10px;
}

.card-3 {
    background-color: #ee6b2f;
    margin: 10px;
}

.card-4 {
    background-color: #1b53ba;
    margin: 10px;
}

.card-5 {
    background-color: #30a7d7;
    margin: 20px 10px 10px 20px;
}

.card-6 {
    background-color: #e6bc2f;
    margin: 10px 20px 20px 10px;
}

.two {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.two:hover {
    box-shadow: 10px 5px 5px gray;
}

/* footer */

.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.info-1 {
    margin-right: 5px;
}

input {
    border-radius: 2px;
}

.info-2 {
    margin-left: 5px;
}

.info {
    color: white;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 40px;
}

.list {
    list-style: none;
}

.info-4 {
    margin-left: 15px;
    margin-right: 15px;
}